body {
    background-color: #f0ebe3; /* Light, desaturated color for the desk */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.sketchbook {
    position: relative;
    width: 60%;
    max-width: 800px; /* Adjust based on your preference */
    background-color: #ffffff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd; /* Slight border for definition */
    border-radius: 8px; /* Rounded corners for the sketchbook feel */
    position: relative; /* Ensure this is set if you need absolute positioning within */
    padding-bottom: 120px; /* Adjust based on image height to ensure space */
}

/* Styling for the content inside the sketchbook */
.sketchbook p {
    font-family: "Nanum Brush Script", cursive; /* Gives a handwritten or sketched feel */
    font-size: 24px;
    color: #333;
}

.next {
    animation: pulse 2s infinite;
    font-family: 'Tangerine', cursive;
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #e3f084; /* Soft purple */
    color: white;
    border: none;
    border-radius: 25px; /* Rounded edges for a softer look */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    transform: scale(1); /* Default scale */
    position: absolute;
    bottom: 30px; /* Move the button 20 pixels from the bottom */
    right: 30px; /* Move the button 20 pixels to the right */
    
}

.previous {
    animation: pulse 2s infinite;
    font-family: 'Tangerine', cursive;
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #e3f084; /* Soft purple */
    color: white;
    border: none;
    border-radius: 25px; /* Rounded edges for a softer look */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    transform: scale(1); /* Default scale */
    position: absolute;
    bottom: 30px; /* Move the button 20 pixels from the bottom */
    left: 30px; /* Move the button 20 pixels to the right */
    
}


button:hover, button:focus {
    background-color: #9b6bdb; /* A slightly deeper purple on hover */
    color: #ffffff;
    transform: scale(1.05); /* Slightly enlarge on hover for emphasis */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.sketchbook-image {
    position: relative;
    bottom: 0; /* Fix to the bottom of the sketchbook */
    left: 0; /* Align to the left */
    width: 100%; /* Stretch across the whole width of the sketchbook */
    /* Add padding or margin if needed */
    overflow: hidden; /* Add this to clip contents */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px
}

.sketchbook-image img {
    display: block;
    max-width: 100%;
    max-height: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 15px;
    animation: fadeIn 2s ease-out;
}

